body {
  margin: 0;
  padding: 0;
}



.top-bar {
  background-color: #339933	;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 5%; /* Aumentei as margens laterais com porcentagem */
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

.top-bar-left,
.top-bar-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.icon-img {
  height: 20px;
  width: 20px;
filter: brightness(0) saturate(100%) invert(100%);
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}


/* Navbar */
.navbar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #ccc; /* Ou branco: #ffffff para fundo escuro */
  margin: 0 1rem;
  opacity: 0.6;
}


.logo-image {
  height: 120px;
  width: 120px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #A6D785;
}

.btn-cta {
  background-color: #2ecc71;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: #27ae60;
}

/* Menu mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar ul {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    flex-direction: column;
    display: none;
    border-bottom: 2px solid black;
  }

  .navbar ul li {
    margin: 1rem 0;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
  }
}
